#remove html file extension http://jzongfilms.com/photos.html
# to http://jzongfilms.com/photos
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
